$widthTituloH1: 3rem;
$widthXlDesktop: 1200px;
$widthLDesktop: 1017px;
$widthMDesktop: 1100px;
$widthXLMobile: 900px;
$widthLMobile: 610px;
$widthMMobile: 450px;

@mixin tooltip {
  display: block;
  background-color: black;
  color: white;
}
